
.wp-block-interfolio-block-motion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .editor-container{
    margin: 0 auto;
  }
}

.wp-block-interfolio-block-motion-container-option-container{
  margin: 15px 0;
}